.custom-form, .custom-form .modal-body {
     width: 50rem;
     display: flex;
     justify-content: center;
     align-items: center;
}

.modal-content{
     width: 50rem !important;
     background-color: transparent !important;
     border: 0px transparent !important;
}